.container-fluid.pt-4.px-4
  .bg-light.rounded-top.p-4
    .row
      .col-12.col-sm-6.text-center.text-sm-start
        | &copy; 
        a(href='#') Magicsoft Pro
        | , All Right Reserved.
      .col-12.col-sm-6.text-center.text-sm-end
        // /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
        | Designed By 
        a(href='https://htmlcodex.com') Magicsoft Pro
        br
        |                         Distributed By 
        a.border-bottom(href='https://themewagon.com' target='_blank') Magicsoft Pro
script(src='js/main.js')
script(src='js/axios.js')
script(src="/admin/js/kitob.js")                                     
    
script(src='https://code.jquery.com/jquery-3.4.1.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js')
script(src='/adminasset/lib/chart/chart.min.js')
script(src='/adminasset/lib/easing/easing.min.js')
script(src='/adminasset/lib/waypoints/waypoints.min.js')
script(src='/adminasset/lib/owlcarousel/owl.carousel.min.js')
script(src='/adminasset/lib/tempusdominus/js/moment.min.js')
script(src='/adminasset/lib/tempusdominus/js/moment-timezone.min.js')
script(src='/adminasset/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')
// Template Javascript
//- script(src='js/main.js')
//- script(src="/assets/js/axios.js") 
script(src='/adminasset/js/main.js')
script(src="/assets/js/axios.js") 
