doctype html
head
  meta(charset='utf-8')
  title DASHMIN - Bootstrap Admin Template
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='' name='keywords')
  meta(content='' name='description')
  // Favicon
  link(href='img/favicon.ico' rel='icon')
  // Google Web Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap' rel='stylesheet')
  // Icon Font Stylesheet
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css' rel='stylesheet')
  // libraries Stylesheet
  link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' rel='stylesheet')
  // Customized Bootstrap Stylesheet
  link(href='/admin/css/bootstrap.min.css' rel='stylesheet')
  link(href='/admin/css/style.css' rel='stylesheet')
.container-xxl.position-relative.bg-white.d-flex.p-0
  #spinner.show.bg-white.position-fixed.translate-middle.w-100.vh-100.top-50.start-50.d-flex.align-items-center.justify-content-center
    .spinner-border.text-primary(style='width: 3rem; height: 3rem;' role='status')
      span.sr-only Loading...
  include __sidebar
  .content
    include __navbar
    block content 
    include __footer
  a.btn.btn-lg.btn-primary.btn-lg-square.back-to-top(href='#')
    i.bi.bi-arrow-up
script(src='https://code.jquery.com/jquery-3.4.1.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js')
script(src='lib/chart/chart.min.js')
script(src='lib/easing/easing.min.js')
script(src='lib/waypoints/waypoints.min.js')
script(src='lib/owlcarousel/owl.carousel.min.js')
script(src='lib/tempusdominus/js/moment.min.js')
script(src='lib/tempusdominus/js/moment-timezone.min.js')
script(src='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')
// Template Javascript
script(src='js/main.js')
script(src="/assets/admin/js/addTeacher.js") 

