extends base
block content      
    .container-fluid.pt-4.px-4
        .row.g-4
            .col-12
                .h-100.bg-light.rounded.p-4
                    form.row#qow(action='')
                        h3.text-secondary Kitob qo&apos;shish
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            select#ustoz.form-select.mb-3(aria-label='Default select example')
                                option(selected='') O&apos;qituvchi username kiritilsin
                                option(value='63207626b46642a5a11530c3') One
                                option(value='2') Two
                                option(value='3') Three
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            select#mavzu.form-select.mb-3(aria-label='Default select example')
                                option(selected='') O&apos;qituvchi username kiritilsin
                                option(value='6322d69444ada808d81f178c') One
                                option(value='2') Two
                                option(value='3') Three
                        .col-sm-12.col-md-6.col-xl-6.mb-3
                            input#names.form-control(type='text' placeholder='Kitob nomini kiriting')
                        .col-sm-12.col-md-6.col-xl-6.mb-3
                            input#file.form-control(type='file' placeholder='Kitob nomini kiriting')
                        .form-group.col-sm-12.col-md-12.col-xl-12.mb-3.d-flex.justify-content-end
                            button#qosh.btn.btn-primary.text-white(type="submit")
                                | Kitob qo&apos;shish
        .row.g-4
            .col-12
                .h-100.bg-light.rounded.p-4
                    form.row(action='')
                        h3.text-secondary Kitob edit qilish
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            select.form-select.mb-3(aria-label='Default select example')
                                option(selected='') O&apos;qituvchi username kiritilsin
                                option(value='1') One
                                option(value='2') Two
                                option(value='3') Three
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            select.form-select.mb-3(aria-label='Default select example')
                                option(selected='') Mavzu nomi kiritilsin
                                option(value='1') One
                                option(value='2') Two
                                option(value='3') Three
                        .col-sm-12.col-md-6.col-xl-6.mb-3
                            input.form-control(type='text' placeholder='Kitob nomini kiriting')
                        .col-sm-12.col-md-6.col-xl-6.mb-3
                            input.form-control(type='file' placeholder='Kitob nomini kiriting')
                        .form-group.col-sm-12.col-md-12.col-xl-12.mb-3.d-flex.justify-content-end
                            button.btn.btn-warning.text-white
                                | Kitob edit qilish
        .row.g-4
            .col-12
                .h-100.bg-white.rounded.p-4
                    table.table.align-middle.mb-0.bg-white
                        thead.bg-light
                            tr
                                th Kitob nomi
                                th Mavzu nomi
                                th O&apos;qituvchi nomi
                                th Edit
                                th Delete
                                th
                                    button.btn.btn-primary +Create
                        tbody
                            tr
                                td kitob nomi bo&apos;ladi
                                td Mavzu nomi shu yerda bo&apos;ladi
                                td
                                    .d-flex.align-items-center
                                        img.rounded-circle(src='https://mdbootstrap.com/img/new/avatars/8.jpg' alt='' style='width: 45px; height: 45px')
                                        .ms-3
                                            p.fw-bold.mb-1 John Doe
                                            p.text-muted.mb-0 john.doe@gmail.com
                                td
                                    button.btn.btn-link.btn-sm.btn-rounded.text-warning(type='button')
                                    | Edit
                                td
                                    button.btn.btn-link.btn-sm.btn-rounded.text-danger(type='button')
                                    | Delete