extends base
block content   
    .container-fluid.pt-4.px-4
        .row.g-4
            .col-12
                .h-100.bg-light.rounded.p-4
                    form.row#userData(action='')
                        h3.text-secondary Sizning ma&apos;lumotlaringiz
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            label.form-label(for='') Ism
                            input#name_user.form-control(type='text' value=`${user.name}`)
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            label.form-label(for='') Fsamiliya 
                            input#username_user.form-control(type='text' value=`${user.username}`)
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            label.form-label(for='') Email
                            input#email_user.form-control(type='email' value=`${user.email}`)
                        .form-group.col-sm-12.col-md-6.col-xl-6.mb-3
                            label.form-label(for='') Rasmingiz
                            input#photo_user.form-control(type='file' required)
                        .col-12.d-flex.justify-content-end
                            button#save_data.btn.btn-primary(type="submit") Saqlash
                    form.row(action='')
                        h3.text-secondary Sizning Parolingiz
                        .form-group.col-sm-12.col-md-12.col-xl-12.mb-3
                            label.form-label(for='') Eski parol
                            input#password_user.form-control(type='text')
                        .form-group.col-sm-12.col-md-12.col-xl-12.mb-3
                            label.form-label(for='') Yangi parol
                            input#newPassword_user.form-control(type='text')
                        .form-group.col-sm-12.col-md-12.col-xl-12.mb-3
                            label.form-label(for='') Yangi parolni Qayta kiriting
                            input#newPass_Confirm_user.form-control(type='text' )
                        .col-12.d-flex.justify-content-end
                            button#userPassword.btn.btn-primary(type="submit") Saqlash
    script(src="/adminasset/js/profil.js") 
