header#header.fixed-top
    .container.d-flex.align-items-center
        h1.logo.me-auto
            a(href='/') TATU_TEACHERS
        nav#navbar.navbar.order-last.order-lg-0
            ul
                li
                    a.active(href='/') Bosh Sahifa  
                    //- a(href='/') Home
                li
                    a(href='/about') Biz haqimizda
                li
                    a(href='/teachers') O`qituvchilar
                li
                    a(href='/topics') Fanlar
                li
                    a(href='/books') Kitoblar
                li
                    a(href='/contact') Bog`lanish
                    i.bi.bi-list.mobile-nav-toggle
        if cookie
                a.get-started-btn(href='/logout') Logout
        else
                a.get-started-btn(href='/login') Login
                
        //- a.get-started-btn(href='/login') Sign In




