header#header.fixed-top
    .container.d-flex.align-items-center
        h1.logo.me-auto
            a(href='/') TATU_TEACHERS
        nav#navbar.navbar.order-last.order-lg-0
            ul
                li
                    a(href='/') Bosh Sahifa  
                li
                    a(href='/about') Biz haqimizda
                li
                    a(href='/users') O`qituvchilar
                li
                    a(href='/subjects') Fanlar
                li
                    a(href='/books') Kitoblar
                li
                    a(href='/contact') Contact
            i.bi.bi-list.mobile-nav-toggle
        a.get-started-btn(href='/login') Tizmimga kirish
        //- a.get-started-btn(href='/login') Sign In
