extends base
block content
  main#main(data-aos='fade-in')
    // ======= Breadcrumbs =======
    .breadcrumbs
      .container
        h2 Kitoblar
        p Bu yerda kitoblar ro&apos;yxati bo&apos;ladi
    // End Breadcrumbs
    // ======= Courses Section =======
    section#courses.courses
      .container(data-aos='fade-up')
        .table-responsive-xs.table-responsive-sm
          table.table.table-light
            thead
              tr
                th(scope='col') #
                th(scope='col') filename
                th(scope='col') size
                th(scope='col') Yuklash
            tbody
            each f,index in file
              tr
                th(scope='row')=index+1
                td=f.name
                td=size[index].name
                  td
                    a.btn.btn-primary(href= `${och[index].name}`)
                      svg.bi.bi-download(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                        path(d='M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z')
                        path(d='M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z')

                
            

