//Footer Section Start
.footer 
    .footer__logo 
        img(src="/img/logo-green.png", alt="Footer Login")
    ul.footer__nav 
        li: a(href="#") About Us 
        li: a(href="#") Download Apps
        li: a(href="#") Become a guide
        li: a(href="#") Careers
        li: a(href="#") Contact 
    p.footer__copyright &copy; by Mironshoh Asadov. All rights reserved.
