//Header Section start
header.header 
    nav.nav.nav--tours
        a(href='/').nav__el All Tours 
        form(action="#").nav__search
            button.nav__search-btn 
                svg 
                    use(xlink:href="img/icons.svg#icon-search")
            input(type="text" placeholder="Search Tours").nav__search-input
    div.header__logo
        img(src="/img/logo-white.png", alt="Natour Logo") 
    nav.nav.nav--user
        if userData
            button(href="/logout").nav__el.nav__el--logout Logout 
            a(href="/me").nav__el
                img(src=`img/users/${userData.photo}`, alt=`${userData.name}` ).nav__user-img
                span=userData.name.split(" ")[0]
        else
            a(href="login").nav__el Log In 
            button.nav__el.nav__el--cta Sign Up 
        if userData 
            script(src="/js/logout.js") 