header#header.fixed-top
    .container.d-flex.align-items-center
        h1.logo.me-auto
            a(href='index.html') TATU_TEACHERS
        nav#navbar.navbar.order-last.order-lg-0
            ul
                li
                    a.active(href='index.html') Home
                li
                    a(href='about.html') About
                li
                    a(href='teachers.html') Teachers
                li
                    a(href='topics.html') Courses
                li
                    a(href='books.html') Books
                li
                    a(href='contact.html') Contact
                    i.bi.bi-list.mobile-nav-toggle
        a.get-started-btn(href='login.html') Sign In