extends base 
block content 
      main.main
        .error(style="margin-top:110px")
          .error__title
            h2.heading-secondary.heading-secondary--error Kutilmagan Xatolik 
            h2.error__emoji 😢 🤯
          .error__msg=message 