extends base

block content 
    section#hero.d-flex.justify-content-center.align-items-center
        .container.position-relative(data-aos='zoom-in',data-aos-delay='100')
            h1 Leading Today, Learning Tomorrow 
            h2 We strive to educate you
            a.btn-get-started(href='courses.html') Get Started