extends base
block content
    main#main(data-aos='fade-in')
      .breadcrumbs
        .container
          h2 Mavzular
          p Bu yerda Mavzular ro&apos;yxati bo&apos;ladi
      section#courses.courses
        .container(data-aos='fade-up')  
                 
             table.table.table-light
                thead
                  tr

                    th(scope='col') #
                    th(scope='col') Fan nomi
                    th(scope='col') O`qituvchilar soni
                    th(scope='col') Kitoblar soni
                    
                tbody
                each dat,index in  kalla
                  tr
                    th(scope='row')=index+1
                    td=dat.name
                    td=arra[index].num
                    td=files[index].num
                   
                  
                 

               
               
                   
                   
                  
                  
                    
    script(src="assets/js/getTopiks.js")
